### Họ và tên: Ngô Quý Điệp
### Mã SV: 2021602059
### Lớp: KHMT01

In [98]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, LabelEncoder

In [2]:
matrix = np.array([[1.4, 0.7, 2.9, 8.5, 7.2],
                   [1.1, 1.5, 4.7, 2.9, 5.1],
                   [2.8, 2.9, 6.2, 7.8, 8.8],
                   [2.5, 6.8, 1.3, 0, 4],
                   [2.3, 5.0, 2.7, 8.0, 9.0]])

In [13]:
# a) Tính định thức của ma trận A
print("Định thức của ma trận A:", np.linalg.det(matrix))

Định thức của ma trận A: 81.19414000000006

In [14]:
# b> Tính ma trận nghịch đảo của A
print("Ma trận nghịch đảo của A:")
np.linalg.inv(matrix)

Ma trận nghịch đảo của A:

array([[ 2.33636812, -0.20106623, -0.34802758,  1.47445739, -2.07017772],
       [-1.90472367, -0.43650441,  0.81072107, -0.92952521,  1.3915487 ],
       [-1.43530802, -0.21680629,  0.79345874, -0.75309253,  0.82998477],
       [-1.52164676, -0.65166526,  0.92147044, -0.88637308,  1.07954466],
       [ 2.24427526,  0.93818593, -1.41858267,  1.15341206, -1.34151676]])

In [21]:
# c) Tính các giá trị riêng của A
values, vectors = np.linalg.eig(matrix)
print("Giá trị riêng của ma trận A:", values)

Giá trị riêng của ma trận A: [21.43841923+0.j         -2.11981469+0.83553814j -2.11981469-0.83553814j
  0.45060508+0.7255651j   0.45060508-0.7255651j ]

In [24]:
# d) Tính vecto riêng của từng giá trị riêng
for i in range(len(values)):
    print("Giá trị riêng:", values[i], ". Vecto riêng tương ứng:", vectors[i])

Giá trị riêng: (21.4384192257675+0j) . Vecto riêng tương ứng: [0.4107086 +0.j 0.60965856+0.j 0.60965856-0.j 0.58871322+0.j
 0.58871322-0.j]
Giá trị riêng: (-2.1198146892449827+0.8355381425509717j) . Vecto riêng tương ứng: [ 0.33993948+0.j         -0.29176191-0.11535905j -0.29176191+0.11535905j
 -0.39868431-0.14725894j -0.39868431+0.14725894j]
Giá trị riêng: (-2.1198146892449827-0.8355381425509717j) . Vecto riêng tương ứng: [ 0.59375   +0.j          0.01092997-0.06782441j  0.01092997+0.06782441j
 -0.28288624-0.28978293j -0.28288624+0.28978293j]
Giá trị riêng: (0.45060507636122943+0.7255650996310867j) . Vecto riêng tương ứng: [ 0.29026942+0.j         -0.58583851+0.02075299j -0.58583851-0.02075299j
 -0.26413784-0.08215703j -0.26413784+0.08215703j]
Giá trị riêng: (0.45060507636122943-0.7255650996310867j) . Vecto riêng tương ứng: [0.52817061+0.j         0.4175387 +0.0847826j  0.4175387 -0.0847826j
 0.3869027 +0.28735226j 0.3869027 -0.28735226j]

In [38]:
# e) Tính tichs của 2 ma trận A1 x A2 trong đó A1 gồm các hàng 1, 3, 4, 5, cột 1, 2, 3, 5 của A. A2 là các hàng 2, 3, 4, 5, cột 1, 2, 3, 4 của A
matrix_a1 = matrix[[0, 2, 3, 4]][:, [0, 1, 2, 4]]
matrix_a2 = matrix[[1, 2, 3, 4]][:, [0, 1, 2, 3]]

In [40]:
print("A1 x A2:")
matrix_a1.dot(matrix_a2)

A1 x A2:

array([[ 27.31,  59.85,  34.13,  67.12],
       [ 46.94,  98.77,  62.96, 101.14],
       [ 34.24,  52.31,  66.4 ,  92.29],
       [ 43.98,  81.31,  69.62, 117.67]])

In [44]:
# f) Cho B: bij = aij nếu aij >=4; bij = 0 nếu aij < 4. Tính det(B) rank(B)
matrix_B = matrix.copy()
matrix_B[matrix < 4] = 0
print("Định thức ma trận B:", np.linalg.det(matrix_B))
print("Hạng ma trận B:", np.linalg.matrix_rank(matrix_B))

Định thức ma trận B: 0.0
Hạng ma trận B: 4

### Câu 2

In [117]:
df = pd.read_csv('Example1.csv')
df

   A  B    C   D   E  F  G  H
0  1  1   90   2   2  3  0  A
1  2  6  100   5   8  9  1  B
2  3  1   60   8  10  5  4  B
3  2  7   85   4   1  2  5  A
4  4  2  101   6   8  7  5  C
5  5  8   90  10  11  2  5  A

In [118]:
# b) Chuẩn hóa cột A, C, E theo min, max
df['A'] = (df['A'] - min(df['A'])) / (max(df['A']) - min(df['A']))
df['C'] = (df['C'] - min(df['C'])) / (max(df['C']) - min(df['C']))
df['E'] = (df['E'] - min(df['E'])) / (max(df['E']) - min(df['E']))
df

      A  B         C   D    E  F  G  H
0  0.00  1  0.731707   2  0.1  3  0  A
1  0.25  6  0.975610   5  0.7  9  1  B
2  0.50  1  0.000000   8  0.9  5  4  B
3  0.25  7  0.609756   4  0.0  2  5  A
4  0.75  2  1.000000   6  0.7  7  5  C
5  1.00  8  0.731707  10  1.0  2  5  A

In [119]:
# c) Chuẩn hóa cột B, D, F, G theo Z-score
df['B'] = (df['B'] - np.average(df['B'])) / np.std(df['B'])
df['D'] = (df['D'] - np.average(df['D'])) / np.std(df['D'])
df['F'] = (df['F'] - np.average(df['F'])) / np.std(df['F'])
df['G'] = (df['G'] - np.average(df['G'])) / np.std(df['G'])
df

      A         B         C         D    E         F         G  H
0  0.00 -1.087937  0.731707 -1.469416  0.1 -0.635001 -1.622214  A
1  0.25  0.629858  0.975610 -0.319438  0.7  1.651002 -1.135550  B
2  0.50 -1.087937  0.000000  0.830540  0.9  0.127000  0.324443  B
3  0.25  0.973417  0.609756 -0.702764  0.0 -1.016001  0.811107  A
4  0.75 -0.744378  1.000000  0.063888  0.7  0.889001  0.811107  C
5  1.00  1.316976  0.731707  1.597191  1.0 -1.016001  0.811107  A

In [120]:
# d) Chuẩn hóa các cột A, B, C, D, E, F, G theo min-max về đoạn [0.2, 0.7]
# for col in ['A', 'B', 'C', 'D', 'E', 'F', 'G']:
#     df[col] = (0.7 - 0.2) * (df[col] - min(df[col])) / (max(df[col]) - min(df[col])) + 0.2
# df

scaler = MinMaxScaler(feature_range=(0.2, 0.7))
A_to_G = ['A', 'B', 'C', 'D', 'E', 'F', 'G']
df[A_to_G] = pd.DataFrame(scaler.fit_transform(df[A_to_G]), columns=df[A_to_G].columns)
df

       A         B         C       D     E         F    G  H
0  0.200  0.200000  0.565854  0.2000  0.25  0.271429  0.2  A
1  0.325  0.557143  0.687805  0.3875  0.55  0.700000  0.3  B
2  0.450  0.200000  0.200000  0.5750  0.65  0.414286  0.6  B
3  0.325  0.628571  0.504878  0.3250  0.20  0.200000  0.7  A
4  0.575  0.271429  0.700000  0.4500  0.55  0.557143  0.7  C
5  0.700  0.700000  0.565854  0.7000  0.70  0.200000  0.7  A

In [121]:
# e) Chuẩn hóa cột H về dạng số
label_encoder = LabelEncoder()
df['H'] = label_encoder.fit_transform(df['H'])
df

       A         B         C       D     E         F    G  H
0  0.200  0.200000  0.565854  0.2000  0.25  0.271429  0.2  0
1  0.325  0.557143  0.687805  0.3875  0.55  0.700000  0.3  1
2  0.450  0.200000  0.200000  0.5750  0.65  0.414286  0.6  1
3  0.325  0.628571  0.504878  0.3250  0.20  0.200000  0.7  0
4  0.575  0.271429  0.700000  0.4500  0.55  0.557143  0.7  2
5  0.700  0.700000  0.565854  0.7000  0.70  0.200000  0.7  0